.logo {
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

body {
  background-color: #298eea;
  font-family: 'Roboto', helvetica, sans-serif;
}

legend {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.signup-form {
  width: 400px;
  background-color: white;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 3px;
}

fieldset {
  border: none;
}

input {
  width: 320px;
  height: 55px;
  border: 2px solid #DDDDDD;
  padding: 15px;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 320px;
  height: 55px;
  padding: 15px;
  border-radius: 3px;
  background-color: #15CD72;
  color: white;
  font-size: 20px;
  border: 2px solid #DDDDDD;
}

button:hover {
    background-color: rgb(21, 185, 114);
}

form a {
  color: #999;
  text-align: center;
  display: block;
  margin-top: 10px;
}

p {
  color: white;
  text-align: center;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

a {
  color: white;
}
